@import '../sass//theme.scss';

.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);

  @include theme() {
    background-color: get-theme('card-bg');
  }

  &__img-container {
    grid-column: 0 / 1;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 6rem;
  }

  &__details {
    grid-column: 2 / -1;
    margin-top: 4rem;
    margin-right: 3rem;
    min-width: 0;
  }

  &__username-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__name {
    margin-bottom: 0.8rem;
    font-size: 2.6rem;

    @include theme() {
      color: get-theme('text');
    }
  }

  &__name-link {
    color: $color-light-blue;
    font-size: 1.6rem;
  }

  &__date {
    font-size: 1.5rem;

    @include theme() {
      color: get-theme('date-text');
    }
  }

  &__description {
    font-size: 1.5rem;
    margin-bottom: 3rem;

    @include theme() {
      color: get-theme('text-secondary');
    }
  }

  &__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;

    @include theme() {
      background-color: get-theme('stats-bg');
    }
  }

  &__stat {
    h4 {
      font-size: 1.3rem;

      @include theme() {
        color: get-theme('text-secondary');
      }
    }
    h2 {
      font-size: 2.2rem;
      margin: 0.8rem 0;
      @include theme() {
        color: get-theme('text');
      }
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
  }

  &__link-icon {
    margin-right: 1.5rem;

    &--undefined {
      margin-right: 1.5rem;
    }

    &--undefined path {
      @include theme() {
        fill: get-theme('text-undefined');
      }
    }
  }

  &__link-text {
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @include theme() {
      color: get-theme('text-secondary');
    }

    &--undefined {
      font-size: 1.5rem;
      text-overflow: ellipsis;
      @include theme() {
        color: get-theme('text-undefined');
      }
    }
  }

  &__link-text:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 20vh;
    border-radius: 1rem;
    box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);

    @include theme() {
      background-color: get-theme('card-bg');
    }
  }

  &__status-text {
    font-size: 2rem;
    @include theme() {
      color: get-theme('text');
    }
  }
}
