@import '../sass/theme.scss';

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
  height: 7rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);

  @include theme() {
    background-color: get-theme('card-bg');
  }

  &__icon {
    margin-left: 1.5rem;
    width: 4rem;
  }

  &__input {
    width: 60%;
    margin-left: 2rem;
    font-size: 1.8rem;
    outline: none;
    border: none;
    background-color: transparent;
    caret-color: $color-light-blue;
    overflow: hidden;
    text-overflow: ellipsis;

    @include theme() {
      color: get-theme('text');
    }

    &::placeholder {
      @include theme() {
        color: get-theme('text-secondary');
      }
    }
  }

  &__error {
    color: red;
    width: 15%;
    margin: 0 2rem;
  }

  &__btn {
    height: 5rem;
    width: 10.5rem;
    border: none;
    outline: none;
    border-radius: 1rem;

    @include theme() {
      background-color: get-theme('search-btn');
      color: get-theme('search-btn-text');
    }
  }

  &__btn:hover {
    cursor: pointer;
    background-color: $color-light-blue-active;
  }
}
