@import './sass/theme.scss';

.container {
  height: 100%;
  width: 45vw;
  min-width: 35rem;

  @include theme() {
    background-color: get-theme('bg');
  }

  @media only screen and (max-width: $bp-largest) {
    width: 55vw;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 80vw;
  }
  @media only screen and (max-width: $bp-small) {
    width: 90vw;
  }
}
